<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

        <context:property-placeholder location="classpath:jdbc.properties" />
        <!-- dataSource -->
        <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
            <property name="driverClassName" value="${driver}"/>
            <property name="url" value="${url}" />
            <property name="username" value="${username}"/>
            <property name="password" value="${password}"/>
        </bean>

        <!-- mybatis-plus -->
        <bean id="sqlSessionFactoryBean" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
            <!--<property name="configLocation" value="classpath:mybatis-config.xml"/>-->

            <property name="dataSource" ref="dataSource"/>
            <!-- 别名处理 -->
            <property name="typeAliasesPackage" value="zjj.design.ssm.entity"/>

            <property name="plugins">
                <array>
                    <!-- 配置分页插件 -->
                    <bean class="com.github.pagehelper.PageInterceptor">
                    </bean>
                </array>
            </property>


        </bean>

        <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
            <property name="basePackage" value="zjj.design.ssm.mapper"/>
        </bean>

</beans>