<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>修改管理员</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript">
    $(function() {
      $.ajax({
        url: '/pms/getModules',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
          var moduleIds = $('#moduleIds');
          moduleIds.empty();
          $.each(data, function(index, module) {
            var checkbox = $('<input type="checkbox" />').attr({
              'value': module.moduleId,
              'name': 'moduleIds'
            }).appendTo($('<label>').text(module.name).appendTo(moduleIds));
          });
        }
      });
    });
  </script>
</head>
<body>

<div class="container mt-3">

  <form th:action="@{/role/add}" th:object="${rolePermission}" method="post">
    <table>
      <tr>
        <td><label for="roleId">角色ID</label></td>
        <td><input type="text" class="form-control" id="roleId" name="roleId" th:field="${rolePermission.roleId}" readonly></td>
      </tr>
      <tr>
        <td><label for="roleName">角色名称</label></td>
        <td><input type="text" class="form-control" id="roleName" name="roleName" th:field="${rolePermission.roleName}"></td>
      </tr>
      <tr>
        <td><label>权限</label></td>
        <td>
          <div id="moduleIds" style="margin-top:10px;">
            <div th:each="moduleId : ${allModuleIds}" style="margin-bottom:10px;">
              <label style="margin-right:10px;">
                <input type="checkbox" th:value="${moduleId}" th:field="*{moduleIds}" />
                <span th:text="${moduleId}"></span>
              </label>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2"><button type="submit" class="btn btn-primary">添加</button></td>
      </tr>
    </table>
  </form>

</div>

</body>
</html>