<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div style="margin-left: 250px;width: 1300px">
    <div title="欢迎使用" style="padding:20px;overflow:hidden; color:black; ">
        <p style="font-size: 25px; line-height: 30px; height: 30px;">
            欢迎使用手机销售后台管理系统
        </p>
        <p>开发人员：Dexter</p>
        <hr />
        <h3>介绍</h3>
        </br>
        <p>系统环境：MacOS</p>
        <p>开发工具：IntelliJ IDEA</p>
        <p>Java版本：JDK 1.8</p>
        <p>项目管理：maven</p>
        <p>服务器：tomcat 9.0.74</p>
        <p>端口号：8080</p>
        <p>数据库：MySQL 8.0.31</p>
        <p>技术栈： Spring + SpringMVC + Mybatis-Plus + Thymeleaf + Shiro  </p>
    </div>
</div>
</body>
</html>